<!DOCTYPE html>
<html>
<head>
<title>Radar</title>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid">

  <% if current_user %>
    <%= render 'layouts/inner_layout' %>
  <% else %>
    <%= yield %>
  <% end %>


</div>
<%= javascript_include_tag 'application'%>
<%= footer_js %>
</body>
</html>
